{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <div class="md-5">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">STATUS CODE</th>
      <th scope="col">UPDATE INTERVAL</th>
      <th scope="col">Last update</th>
      <th scope="col"> </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
      <td>
        <button type="button" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>


    </tr>
  </tbody>
</table>
</div>
{% endblock %}